Repository kakao-tech-campus-2nd-step3/Team22_Android, pull requests merged in 2024-09, with the labels that each got.

#6 [3 Week] Design : 공유페이지(노래선택, 친구선택), 바텀시트 버전 2가지 구현
  app/build.gradle.kts
  app/src/main/java/com/team22/soundary/ShareFriendActivity.kt
  app/src/main/java/com/team22/soundary/ShareMusicActivity.kt
  app/src/main/res/drawable/all_icon_back.xml
  app/src/main/res/drawable/all_icon_search.xml
  app/src/main/res/drawable/all_icon_spinner.xml
  app/src/main/res/drawable/bottom_sheet_background.xml
  app/src/main/res/drawable/category_selected.xml
  app/src/main/res/drawable/category_unselected.xml
  app/src/main/res/drawable/profile_background.xml
  app/src/main/res/drawable/stalker.jpg
  app/src/main/res/layout/activity_share_friend.xml
  app/src/main/res/layout/activity_share_music.xml
  app/src/main/res/layout/bottom_sheet_main.xml
  app/src/main/res/layout/bottom_sheet_share.xml
  app/src/main/res/layout/share_friend_item.xml
  app/src/main/res/layout/share_music_item.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: 🎨 Xml&Design

#8 [3 Week] Design : 메인 페이지 레이아웃 작성
  app/build.gradle.kts
  app/src/main/java/com/team22/soundary/main/MainActivity.kt
  app/src/main/res/drawable/main_background.xml
  app/src/main/res/drawable/main_circle_shape.xml
  app/src/main/res/drawable/main_expand.xml
  app/src/main/res/drawable/main_expand_less.xml
  app/src/main/res/drawable/main_like_background.xml
  app/src/main/res/drawable/main_like_background_pressed.xml
  app/src/main/res/drawable/main_message_bubble.xml
  app/src/main/res/drawable/main_message_bubble_tail.xml
  app/src/main/res/drawable/main_music_cover.xml
  app/src/main/res/drawable/main_music_info.xml
  app/src/main/res/drawable/main_share_icon.xml
  app/src/main/res/drawable/main_sort_background.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/main_spinner_item.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/main_spinner_mock.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: 🎨 Xml&Design

#9 [3 Week] weekly 작업 완료
  .github/ISSUE_TEMPLATE/🎨레이아웃-작성.md
  .github/ISSUE_TEMPLATE/💡기능-구현.md
  .github/ISSUE_TEMPLATE/🕷️버그-수정.md
  .github/ISSUE_TEMPLATE/🪛코드-리팩토링.md
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/java/com/team22/soundary/feature/profile/ProfileActivity.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareFriendActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareMusicActivity.kt
  app/src/main/res/drawable/all_icon_back.xml
  app/src/main/res/drawable/all_icon_cancel.xml
  app/src/main/res/drawable/all_icon_search.xml
  app/src/main/res/drawable/all_icon_spinner.xml
  app/src/main/res/drawable/all_logo_image.png
  app/src/main/res/drawable/all_profile_placeholder.png
  app/src/main/res/drawable/all_rounded_button.xml
  app/src/main/res/drawable/all_rounded_toggle_button.xml
  app/src/main/res/drawable/bottom_sheet_background.xml
  app/src/main/res/drawable/main_background.xml
  app/src/main/res/drawable/main_circle_shape.xml
  app/src/main/res/drawable/main_like_background.xml
  app/src/main/res/drawable/main_like_background_pressed.xml
  app/src/main/res/drawable/main_message_bubble.xml
  app/src/main/res/drawable/main_message_bubble_tail.xml
  app/src/main/res/drawable/main_music_cover.xml
  app/src/main/res/drawable/main_music_info.xml
  app/src/main/res/drawable/main_share_icon.xml
  app/src/main/res/drawable/main_sort_background.xml
  app/src/main/res/drawable/mypage_album1.png
  app/src/main/res/drawable/mypage_album2.png
  app/src/main/res/drawable/mypage_album3.png
  app/src/main/res/drawable/profile_background.xml
  app/src/main/res/drawable/search_search.xml
  app/src/main/res/drawable/stalker.jpg
  app/src/main/res/drawable/widget_image.png
  app/src/main/res/layout/activity_friend_search.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_mypage.xml
  app/src/main/res/layout/activity_mypage_edit.xml
  app/src/main/res/layout/activity_profile.xml
  app/src/main/res/layout/activity_share_friend.xml
  app/src/main/res/layout/activity_share_music.xml
  app/src/main/res/layout/activity_sign_intro.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_signup2.xml
  app/src/main/res/layout/bottom_sheet_main.xml
  app/src/main/res/layout/bottom_sheet_share.xml
  app/src/main/res/layout/friend_item.xml
  app/src/main/res/layout/main_spinner_item.xml
  app/src/main/res/layout/share_friend_item.xml
  app/src/main/res/layout/share_music_item.xml
  app/src/main/res/layout/widget_main.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/main_spinner_mock.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: 🎨 Xml&Design

#22 [4 Week] 외부 라이브러리 삭제, CardView 도입
  app/build.gradle.kts
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/friend_item.xml
Labels: 🪛Refactor

#28 [4 Week] feature : 공유화면의 recyclerview들 구현
  app/build.gradle.kts
  app/src/main/java/com/team22/soundary/feature/share/BottomSheetAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/FriendItemDiffCallback.kt
  app/src/main/java/com/team22/soundary/feature/share/FriendListAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/MusicItemDiffCallback.kt
  app/src/main/java/com/team22/soundary/feature/share/MusicListAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareBottomSheet.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareFriendActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareMusicActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/data/FriendItemEntity.kt
  app/src/main/java/com/team22/soundary/feature/share/data/MusicItemEntity.kt
  app/src/main/res/drawable/all_circle_checkbox_selector.xml
  app/src/main/res/drawable/all_rounded_toggle_button.xml
  app/src/main/res/drawable/all_rounded_toggle_text.xml
  app/src/main/res/drawable/share_gray_circle.xml
  app/src/main/res/layout/activity_share_friend.xml
  app/src/main/res/layout/activity_share_music.xml
  app/src/main/res/layout/bottom_sheet.xml
  app/src/main/res/layout/bottom_sheet_main.xml
  app/src/main/res/layout/share_friend_item_image.xml
  app/src/main/res/layout/share_friend_item_no_image.xml
  app/src/main/res/layout/share_music_item.xml
  app/src/main/res/layout/share_spinner_item.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/share_spinner.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: ⭐Feature, Share

#27 [4 Week] feature : 메인화면 부차 기능 구현
  app/build.gradle.kts
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/java/com/team22/soundary/feature/main/MainUiState.kt
  app/src/main/java/com/team22/soundary/feature/main/MainViewModel.kt
  app/src/main/java/com/team22/soundary/feature/main/data/Entity.kt
  app/src/main/java/com/team22/soundary/feature/main/data/ShareRepositoryImpl.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/GetShareUseCase.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/Share.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/ShareRepository.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/Song.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/User.kt
  app/src/main/res/layout/activity_main.xml
  gradle/libs.versions.toml
Labels: ⭐Feature, Main

#24 [4 Week] feature : 마이페이지 권한 설정 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/extensions/checkAndRequestPermissions.kt
  app/src/main/java/com/team22/soundary/feature/profile/ActivityWidget.kt
  app/src/main/java/com/team22/soundary/feature/profile/ProfileActivity.kt
  app/src/main/java/com/team22/soundary/feature/profile/ProflieEditedActivity.kt
  app/src/main/res/drawable/mypage_edit.xml
  app/src/main/res/drawable/widget_nick.xml
  app/src/main/res/drawable/widget_notice.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_mypage.xml
  app/src/main/res/layout/activity_mypage_edit.xml
  app/src/main/res/layout/widget_main.xml
Labels: ⭐Feature, 🎨 Xml&Design, Mypage

#23 [4 Week] design : 위젯 마이페이지 로그인 및 회원가입 레이아웃 마무리
  app/build.gradle.kts
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/res/layout/activity_mypage.xml
  app/src/main/res/layout/activity_mypage_edit.xml
  app/src/main/res/layout/activity_sign_intro.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_signup2.xml
  app/src/main/res/layout/friend_item.xml
  gradle/libs.versions.toml
Labels: 🎨 Xml&Design
