Repository kakao-tech-campus-2nd-step3/Team22_Android, pull requests merged in 2024-10, with the labels that each got.

#25 [4 Week] design : 친구페이지 레이아웃 수정 및 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/search/FriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchActivity.kt
  app/src/main/java/com/team22/soundary/feature/search/PendingFriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendEntity.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendRepository.kt
  app/src/main/res/drawable/friend_rounded_button.xml
  app/src/main/res/layout/activity_friend_search.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_profile.xml
  app/src/main/res/layout/friend_item.xml
  app/src/main/res/layout/friend_item_basic.xml
  app/src/main/res/layout/friend_item_new.xml
  app/src/main/res/layout/friend_item_pending.xml
Labels: 🪛Refactor, 🎨 Xml&Design, Friend

#36 [5 Week] feature : 메인화면 고도화
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/java/com/team22/soundary/feature/main/MainUiState.kt
  app/src/main/java/com/team22/soundary/feature/main/MainViewModel.kt
  app/src/main/java/com/team22/soundary/feature/main/data/Entity.kt
  app/src/main/java/com/team22/soundary/feature/main/data/ShareRepositoryImpl.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/GetShareUseCase.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/ShareRepositoryModule.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/Song.kt
  app/src/main/java/com/team22/soundary/feature/main/domain/User.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐Feature, 🪛Refactor, Main

#39 [5 Week] feature : 바텀시트에서 선택한 정보 넘기기
  app/src/main/java/com/team22/soundary/feature/share/BottomSheetAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/FriendListAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareBottomSheet.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareFriendActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareMusicFragment.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareViewModel.kt
  app/src/main/java/com/team22/soundary/feature/share/data/FriendItemEntity.kt
  app/src/main/res/layout/fragment_share_music.xml
  app/src/main/res/layout/share_friend_item_with_image.xml
  app/src/main/res/values/themes.xml
Labels: ⭐Feature, Share

#40 [ 5 week ] Feature: 친구 페이지 기능 구현 및 레이아웃 수정
  app/src/main/java/com/team22/soundary/feature/search/FriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileActivity.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchActivity.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/PendingFriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendEntity.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendRepository.kt
  app/src/main/java/com/team22/soundary/feature/search/data/model/FriendEntity.kt
  app/src/main/java/com/team22/soundary/feature/search/data/repository/FriendRepository.kt
  app/src/main/res/layout/activity_friend_profile.xml
  app/src/main/res/layout/activity_friend_search.xml
Labels: ⭐Feature, 🪛Refactor, 🎨 Xml&Design, Friend

#37 [5 Week] feature : widget 권한 부여
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/java/com/team22/soundary/feature/profile/ActivityWidget.kt
  app/src/main/java/com/team22/soundary/feature/profile/MyWidgetProvider.kt
  app/src/main/res/drawable/widget_circular.xml
  app/src/main/res/drawable/widget_lp_background.xml
  app/src/main/res/layout/widget_main.xml
  app/src/main/res/xml/widget_info.xml
Labels: ⭐Feature, Widget

#38 [5 Week] Feature : 로딩 후 회원가입 구현 완료
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/extensions/checkAndRequestPermissions.kt
  app/src/main/java/com/team22/soundary/feature/main/MainActivity.kt
  app/src/main/java/com/team22/soundary/feature/signup/ActivitySignIntro.kt
  app/src/main/java/com/team22/soundary/feature/signup/ActivitySignup.kt
  app/src/main/java/com/team22/soundary/feature/signup/ActivitySignup2.kt
  app/src/main/res/drawable/signup_color_selector.xml
  app/src/main/res/drawable/widget_notice.xml
  app/src/main/res/layout/activity_sign_intro.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_signup2.xml
Labels: ⭐Feature, Register/LogIn

#47 [6 Week] Refactor: 메인 화면 리팩터링
  app/src/main/java/com/team22/soundary/feature/main/MainFragment.kt
  app/src/main/res/layout/fragment_main.xml
Labels: 🕷️Bug, Main

#48 [6 Week] feature : 바텀시트 카테고리 선택기능
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/team22/soundary/feature/share/ShareBottomSheet.kt
  app/src/main/java/com/team22/soundary/feature/share/ShareViewModel.kt
  app/src/main/java/com/team22/soundary/feature/share/data/FriendItemEntity.kt
  app/src/main/res/layout/bottom_sheet.xml
Labels: ⭐Feature, Share

#51 [6 Week] Feature: 친구 상세 페이지 화면 연결 수정
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileFragment.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchFragment.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/data/NetworkModule.kt
  app/src/main/java/com/team22/soundary/feature/search/data/api/ApiService.kt
  app/src/main/java/com/team22/soundary/feature/search/data/repository/FriendRepository.kt
Labels: ⭐Feature, 🪛Refactor, Friend
