Repository kakao-tech-campus-2nd-step3/Team22_Android, pull requests merged in 2024-11, with the labels that each got.

#63 [9 Week] DataSource 추상화
  app/src/main/java/com/team22/soundary/core/auth/di/TokenRepositoryModule.kt
  app/src/main/java/com/team22/soundary/core/data/TokenDatasource.kt
  app/src/main/java/com/team22/soundary/core/data/TokenDatasourceImpl.kt
  app/src/main/java/com/team22/soundary/core/data/TokenRepositoryImpl.kt
  app/src/main/java/com/team22/soundary/core/data/di/TokenDatasourceModule.kt
  app/src/main/java/com/team22/soundary/core/data/di/TokenModule.kt
Labels: 🪛Refactor, Register/LogIn

#66 [10 week] feature : 공유화면 api 연결하기
  app/src/main/java/com/team22/soundary/MainActivity.kt
  app/src/main/java/com/team22/soundary/core/data/dto/Dto.kt
  app/src/main/java/com/team22/soundary/feature/main/presentation/MainFragment.kt
  app/src/main/java/com/team22/soundary/feature/share/MusicViewModel.kt
  app/src/main/java/com/team22/soundary/feature/share/data/MusicRepositoryImpl.kt
  app/src/main/java/com/team22/soundary/feature/share/data/RepositoryModule.kt
  app/src/main/java/com/team22/soundary/feature/share/data/ShareRepositoryImpl.kt
  app/src/main/java/com/team22/soundary/feature/share/data/ShareService.kt
  app/src/main/java/com/team22/soundary/feature/share/data/di/MusicServiceModule.kt
  app/src/main/java/com/team22/soundary/feature/share/data/di/ShareServiceModule.kt
  app/src/main/java/com/team22/soundary/feature/share/data/remote/MusicService.kt
  app/src/main/java/com/team22/soundary/feature/share/data/remote/ShareService.kt
  app/src/main/java/com/team22/soundary/feature/share/domain/MusicRepository.kt
  app/src/main/java/com/team22/soundary/feature/share/domain/ShareRepository.kt
  app/src/main/java/com/team22/soundary/feature/share/domain/di/RepositoryModule.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/music/MusicItemDiffCallback.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/music/MusicListAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/music/MusicViewModel.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/music/ShareMusicFragment.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/BottomSheetAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/FriendItemDiffCallback.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/FriendListAdapter.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/ShareBottomSheet.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/ShareFriendActivity.kt
  app/src/main/java/com/team22/soundary/feature/share/presentation/share/ShareViewModel.kt
  app/src/main/res/drawable/signup_color_selector.xml
  app/src/main/res/layout/activity_share_friend.xml
  app/src/main/res/layout/activity_sign_intro.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_signup2.xml
  app/src/main/res/layout/bottom_sheet.xml
  app/src/main/res/layout/dialog_loading.xml
  app/src/main/res/layout/fragment_mypage.xml
  app/src/main/res/layout/fragment_share_music.xml
  app/src/main/res/layout/share_music_item.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: ⭐Feature, 🎨 Xml&Design, Share, Register/LogIn

#67 61 feature 친구 api 연결하기
  app/src/main/java/com/team22/soundary/core/data/dto/Dto.kt
  app/src/main/java/com/team22/soundary/core/domain/model/User.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendDiffCallback.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileFragment.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendProfileViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchFragment.kt
  app/src/main/java/com/team22/soundary/feature/search/FriendSearchViewModel.kt
  app/src/main/java/com/team22/soundary/feature/search/PendingFriendAdapter.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendRequest.kt
  app/src/main/java/com/team22/soundary/feature/search/data/FriendServiceModule.kt
  app/src/main/java/com/team22/soundary/feature/search/data/api/FriendApiService.kt
  app/src/main/java/com/team22/soundary/feature/search/data/api/FriendService.kt
  app/src/main/java/com/team22/soundary/feature/search/data/repository/FriendRepository.kt
Labels: ⭐Feature, 🪛Refactor, Friend
